.name-container__name {
  font-family: 'Inter', Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: white;
  margin: 0;
}



@media (max-width: 450px) {
  .name-container__name {
    font-size: 20px;
    line-height: 2;
  }
}